################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Xamsperiment/Xamsperiment/bin/Debug/netstandard2.0
/Xamsperiment/Xamsperiment/obj
/Xamsperiment/Xamsperiment.Android/bin/Debug
/Xamsperiment/Xamsperiment.Android/obj
/Xamsperiment/Xamsperiment.Core/obj
